body
{
}

.desc {
    border: 3px solid #fff;
    padding: 20px;
}

.text-div {
    width: 70%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}

.image-div {
    width: 30%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}

.thumbnail {
    object-fit: cover
}