body {
    background-color: #408EC6;
}


.foreground {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.desc {
    display: flex;
    padding: 2px;
}

.text-div {
    flex: 3;
}

.image-div {
    flex: 2;
}

.thumbnail {
    object-fit: cover;
    width: 100%;
    height: auto
}

.about-details {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #0B0C10;
}